<ion-content scrollY="true" class="background-primary">  
  
  <ion-toolbar class="background-transparent">      
    <ion-title>Mis Metas</ion-title>
  </ion-toolbar>    

  <ion-card *ngFor="let goal of listGoals" (click)="edit(goal)">
    <ion-item>              
      <ion-label style="font-weight: 600;">{{ goal.id }} - Meta {{ goal.goalType }}</ion-label>
      <ion-button style="font-weight: 600;" fill="outline" slot="end" color="danger">{{ goal.amount }} USD</ion-button>
    </ion-item>
  
    <ion-card-content>
      Esta meta tiene {{ goal.rules.length }} reglas
    </ion-card-content>
  </ion-card> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/goals/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
