<ion-content scrollY="true" class="background-primary">    

  <ion-toolbar class="background-transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="goals"></ion-back-button>
    </ion-buttons>
    <ion-title> Detalle de Meta</ion-title>    
  </ion-toolbar>    

  <ion-card>
    <ion-item>
      <ion-label style="font-size: 20px; font-weight: 600;">{{ goal.id }} - Meta {{ goal.goalType }}</ion-label>
      <ion-button slot="end" color="primary" (click)="edit()">Editar</ion-button>
    </ion-item>    
  
    <ion-card-content>
      Deseas <b style="font-weight: 600; font-style: italic;">{{ goal.goalType }}</b> aproximadamente para el <b style="font-weight: 600; font-style: italic;">{{ goal.goalDate.split('T')[0] }}</b>, enfocate y observa cada simulacion para futuras referencias.
      <p style="text-align: end; font-size: 26px; font-weight: 600; font-style: italic; color: red" color="danger">
        Meta de {{ goal.amount }} USD
      </p>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="6">
      <h3 style="margin-left: 16px; color: white" >
        Reglas
      </h3>
    </ion-col>
    <ion-col size="6">      
      <h3 style="color: white; text-align: end; margin-right: 16px;;" (click)="add()">
        <ion-icon name="add" slot="start" color="light"></ion-icon> Agregar
      </h3>
    </ion-col>
  </ion-row>  

  <h5 style="margin-left: 16px; color: white; font-size: 14px" >
    Haz click sobre cualquier regla para iniciar la simulacion
  </h5>

  <ion-card *ngFor="let rule of goal.rules" (click)="simulate()">
    <ion-item>
      <ion-col size="3" class="ion-align-self-center">
        <img src="{{ rule.imgTeam }}" style="height: 80px !important;"/>
      </ion-col>
      <ion-col size="9">
        <ion-label ><b>Equipo:</b> {{ rule.nameTeam }}</ion-label>
        <ion-label ><b>Tipo de Evento:</b> {{ rule.eventType }}</ion-label>
        <ion-label ><b>Monto a ahorrar:</b> {{ rule.amount }} USD</ion-label>
      </ion-col>                        
    </ion-item>    
  </ion-card>

</ion-content>
